<%- include('../../partials/head.ejs')  %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <%- include('../../partials/sidebar.ejs')  %>
        </div>

        <div class="col-md-10">
            <div class="row">
                <div class="col-md-5 offset-md-2">

                    <div class="card card-body py-5 mt-5">
                        <h5 class="text-center mb-3">Change password</h5>
                        <form action="/auth/change-password" method="POST">
                            <!-- 2 column grid layout with text inputs for the first and last names -->

                            <!-- old password -->
                            <div class="form-outline mb-4">
                                <input id="form3Example1" class="form-control" name="oldPassword" type="password" />
                                <label class="form-label" for="form3Example3">Enter your old password</label>
                            </div>

                            <!-- new password -->
                            <div class="form-outline mb-4">
                                <input id="form3Example1" class="form-control" name="newPassword" type="password" />
                                <label class="form-label" for="form3Example3">Enter new password</label>
                            </div>
                            <!-- confirm new password -->
                            <div class="form-outline mb-4">
                                <input id="form3Example1" class="form-control" name="confirmPassword" type="password" />
                                <label class="form-label" for="form3Example3">Confrim password</label>
                            </div>
                            <!-- Submit button -->
                            <button type="submit" class="btn green text-light btn-block mb-4"> Update Password </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>
<%- include('../../partials/footer.ejs')  %>
</body>

</html>