<%- include('../../partials/head.ejs' ,{title: 'Internal server error'})  %>

<div class="container py-5" style="min-height: 600px;">
    <div class="bg-light shadow border-rounded p-5">

        <h1 class="display-1 text-center">Sorry :') Internal server error</h1>

    </div>
</div>

<%- include('../../partials/footer.ejs')  %>

</body>

</html>