<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>codeDocz | Home page</title>

    <!-- MDB -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />

    <!-- Main css -->
    <link rel="stylesheet" type="text/css" href="/styles/comment.css">
    <link rel="stylesheet" type="text/css" href="/styles/author.css">
    <link rel="stylesheet" type="text/css" href="/styles/profilePage.css">
    <link rel="stylesheet" type="text/css" href="/styles/signup-in.css">
    <link rel="stylesheet" type="text/css" href="/styles/forgot-password.css">
    <link rel="stylesheet" type="text/css" href="/styles/alert.css">
    <link rel="stylesheet" type="text/css" href="/styles/test.css">
    <link rel="stylesheet" type="text/css" href="/styles/profile-card.css">
    <link rel="stylesheet" href="/styles/style.css">

</head>

<body>
    <%- include('../partials/navigation.ejs')  %>
    <%- include('../partials/alert.ejs')  %>