<div class="sidebar rounded navColor text-light my-1">
    <ul class="mx-3 py-5" style="padding-left: 0;">
        <a href="/dashboard">
            <li class="py-2 px-4 rounded">Dashboard</li>
        </a>
        <a href="/posts/create">
            <li class="py-2 px-4 rounded">New post</li>
        </a>

        <a href="/author/<%= user._id %> ">
            <li class="py-2 px-4 rounded">Profle </li>
        </a>

        <a href="/explorer">
            <li class="py-2 px-4 rounded">Explore </li>
            <a>

                <a href="/posts">
                    <li class="py-2 px-4 rounded">My Post</li>
                </a>

                <a href="/dashboard/bookmarks">
                    <li class="py-2 px-4 rounded">Bookmarks</li>
                </a>

                <a href="/dashboard/edit-profile">
                    <li class="py-2 px-4 rounded">Edit profile</li>
                </a>

                <a href="/dashboard/comments">
                    <li class="py-2 px-4 rounded">Comments</li>
                </a>

                <a href="/auth/change-password">
                    <li class="py-2 px-4 rounded">Chane password</li>
                </a>

                <a href="/category">
                    <li class="py-2 px-4 rounded">Category</li>
                </a>

                <a href="/auth/forgot-password">
                    <li class="py-2 px-4 rounded">Forgot Password</li>
                </a>


                <a href="/auth/logout">
                    <li class="py-2 px-4 rounded">Logout</li>
                </a>

    </ul>
</div>