@font-face {
    font-family: 'Open_Sans';
    src: url(assets/font/Open_Sans/OpenSans-Regular.ttf );
}
@font-face {
    font-family: 'lato';
    src: url(assets/font/lato/Lato-Regular.ttf );
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'lato';
}

/*

h1,h2,h3,h4,h5,h6{
	color: #454c55;
}

*/

body{
	background-color: #f4f6f8;
}
.fs{
	font-size: 14px;
}

.bg-color{
	background-color: #f4f6f8;
}

.navColor{
	background-color:#252e38 ;	
}

.primaryColor{
	background-color: #0d6efd;
}

.green{
	background-color: #1dbf73;
}

.text-succes{
	color: #1dbf73;
}

.box-shadow{
	box-shadow: 0 1px 2px rgba(0,0,0,0.2)
}

.latest-items .heading{
	text-align: center;
	margin-bottom: 2rem;
	position: relative;
}

.latest-items .heading span{
	font-size: 2rem;
	padding: 0.5rem 2rem;
	color:#444;
	border: .1rem solid rgba(0,0,0,.1);
}
/* bootstrap override starts here */

.contuct-form textarea:focus, 
.contuct-form textarea.form-control:focus, 
.contuct-form input.form-control:focus, 
.contuct-form input[type=text]:focus, 
.contuct-form input[type=password]:focus, 
.contuct-form input[type=email]:focus, 
.contuct-form input[type=number]:focus, 
.contuct-form [type=text].form-control:focus, 
.contuct-form [type=password].form-control:focus, 
.contuct-form [type=email].form-control:focus, 
.contuct-form [type=tel].form-control:focus, 
.contuct-form [contenteditable].form-control:focus {
  box-shadow:  -1px  1px 0 #1dbf73;
}

.form-outline .form-control:focus~.form-notch .form-notch-leading {
    border-top: .125rem solid #1dbf73;
    border-bottom: .125rem solid #1dbf73;
    border-left: .125rem solid #1dbf73;
}
 .form-outline .form-control:focus~.form-notch .form-notch-middle {
    border-bottom: .125rem solid;
    border-color: #1dbf73;
}

.form-outline .form-control:focus~.form-notch .form-notch-trailing {
    border-color: currentcolor currentcolor currentcolor #1dbf73;
    border-bottom: .125rem solid #1dbf73;
    border-right: .125rem solid #1dbf73;
    border-top: .125rem solid #1dbf73;
}

.form-outline .form-control:focus~.form-label {
    color: #1dbf73;
}		







/* main section starts here */
/* ............................ */
.main_section{
	position: relative;
}

/* latest items statrs  here */
.card p{
	letter-spacing: 0.5px;
}

/* sidebar starts  here */

.recentBlog{
	position: absolute;
	top: 0;
	right: 0;
}

.list-group .list-hover:hover{
	background-color: #25AE5F;
	color: #fff;
}


/* login form starts here */

.login_form_title{
  color: #454c55;
  margin: 15px 0;
  font-size: 20px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;	
}


/* Transaction table starts here */

.table>:not(caption)>*>* {
	padding: 1rem 1rem;
  }


/* withdraw starts here */


.withdraw-box{
	border-top: 5px solid #00b74a;
	border-radius: 5px;
}

.post-footer i:hover{
	cursor: pointer;
}

.newsfeed-card{
	box-shadow: 0 1px 2px rgba(0,0,0,0.2)
}
.newsfeed-card .c-header{
	padding: 15px 10px;
}

.newsfeed-card .c-header .profile-pic img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.newsfeed-card .c-header p{
	margin-bottom: -2px;
}
.newsfeed-card .c-header .card-detail{
	padding-top: 2px;
	margin-left: 10px;
}
.newsfeed-card .c-header .posted {
	font-size: 12px;
  }


.newsfeed-card .c-body .c-footer {
display: flex;
justify-content: space-between;
padding-top: 20px;
}
  
.newsfeed-card .c-body .c-footer .like {
flex: 0 0 25%;
}

.newsfeed-card .c-body .c-footer .comment {
flex: 1;
}

.newsfeed-card .c-body .c-footer .share {
flex: 0 0 18%;
}
.newsfeed-card .c-body .c-footer i {
padding-right: 3px;
}

/*dashboard sidebar*/
.sidebar ul a{
	color: rgb(238, 226, 226);
}
.sidebar ul li:hover{
	background-color: #5A5F73;
}

footer a{
	text-decoration: none;
}

footer ul li a:hover{
	text-decoration: underline;
}




@media only screen and (max-width: 992px) {


  .homepage_hero{
		margin-top: 60px;
	}

  .homepage_image{
  	height: 100%;
  	width: 100%;
  }

  
}




/* hommpage hero starts here */

.homepage_hero{
	background-color: #f4f6f8;
}




.g{
	background-color: green;
}

.r{
	background-color: red;
}