<%- include('../partials/head.ejs')  %>
<h5> Playground For Testing </h5>
<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="all-products">
                <div class="card h-100">
                    <img src="/images/product4.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <div class="product-info">
                            <div class="product-title">Tablet pc with 64gb sd card</div>
                            <p class="short-desc">This is test short description for this product card. Its for practice
                                purpose only...
                            </p>
                            <div class="price"><span class="new-price">Tk 8,000</span> <span class="old-price">Tk
                                    9,000</span> <span class="off">30% OFF</span>
                            </div>
                            <div class="product-button d-flex justify-content-evenly mt-2">
                                <button class="fill">Buy Now</button>
                                <button class="nofill">Get Affiliate</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="all-products">
                <div class="card h-100">
                    <img src="/images/product4.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <div class="product-info">
                            <div class="product-title">Tablet pc with 64gb sd card</div>
                            <p class="short-desc">This is test short description for this product card. Its for practice
                                purpose only...
                            </p>
                            <div class="price"><span class="new-price">Tk 8,000</span> <span class="old-price">Tk
                                    9,000</span> <span class="off">30% OFF</span>
                            </div>
                            <div class="product-button d-flex justify-content-evenly mt-2">
                                <button class="fill">Buy Now</button>
                                <button class="nofill">Get Affiliate</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="all-products">
                <div class="card h-100">
                    <img src="/images/product4.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <div class="product-info">
                            <div class="product-title">Tablet pc with 64gb sd card</div>
                            <p class="short-desc">This is test short description for this product card. Its for practice
                                purpose only...
                            </p>
                            <div class="price"><span class="new-price">Tk 8,000</span> <span class="old-price">Tk
                                    9,000</span> <span class="off">30% OFF</span>
                            </div>
                            <div class="product-button d-flex justify-content-evenly mt-2">
                                <button class="fill">Buy Now</button>
                                <button class="nofill">Get Affiliate</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="all-products">
                <div class="card h-100">
                    <img src="/images/product4.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <div class="product-info">
                            <div class="product-title">Tablet pc with 64gb sd card</div>
                            <p class="short-desc">This is test short description for this product card. Its for practice
                                purpose only...
                            </p>
                            <div class="price"><span class="new-price">Tk 8,000</span> <span class="old-price">Tk
                                    9,000</span> <span class="off">30% OFF</span>
                            </div>
                            <div class="product-button d-flex justify-content-evenly mt-2">
                                <button class="fill">Buy Now</button>
                                <button class="nofill">Get Affiliate</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<%- include('../partials/footer.ejs')  %>

</body>

</html>